.image-like {
  width: 100%;
  aspect-ratio: 1920 / 800;
  text-align: center;
}

.center {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 60%);
}

#root {
  filter: blur(0);
  opacity: 1;
  transition: filter 0.5s, opacity 0.25s;
}