
@font-face {
    font-family: 'Stencil';
    font-style: normal;
    font-weight: normal;
    src:
        local('Stencil'),
        url('../fonts/STENCIL.woff') format('woff'),
        url('../fonts/STENCIL.ttf') format('truetype');
    }